<div class="row d-flex">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <%= render 'reviews/carousel' %>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="row d-flex mt-3">
  <div class="col text-center">
    <%= form_tag("/reviews_search", method: "get", class: "reviews-search form-group") do %>
      <%= label_tag(:q, "search for reviews", class: "mr-2") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("search", class: "btn btn-primary ml-1")%>
    <% end %>
  </div>
</div>
<div class="row d-flex mt-3">
  <div class="col lg-2"></div>
  <div class="col-sm-5">
    <h2>recent reviews</h2>
      <% @reviews.each do |review| %>
        <ul class="reviews-list">
          <li><a href="/reviews/<%= review.id %>"><%= review.title %></a></li>
        </ul>
      <% end %>
  </div>
  <div class="col-sm-5">
    <% if !current_user.nil? %>
      <% if !@user_reviews.empty? %>
        <h2>my reviews</h2>
          <% @user_reviews.each do |review| %>
            <ul class="reviews-list">
              <li><a href="/reviews/<%= review.id %>"><%= review.title %></a></li>
            </ul>
          <% end %>
      <% end %>
    <% end %>
  </div>
</div>
