<div class="container">
  <div class="row d-flex">
    <div class="col-lg-10 text-center">
      <div class="card border-dark shadow-sm p-3 mb-5 bg-white rounded">
        <div class="card-header" id="review-title"><%= @review.title %>
        </div>
          <div class="card-body">
            <p id="review-body"><%= @review.body %></p>
          </div>
      </div>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-lg-10 text-center">
      <%= image_tag @review.review_photo_url.to_s, class:"shadow p-3 mb-5 bg-white rounded img-fluid" %>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
      <p id="review-rating"><strong>user rating:</strong> <%= @review.user_rating %></p>
    </div>
    <div class="col-lg-5">
      <p id="votes-count"><strong>votes:</strong> <%= @review.votes_count || 0 %></p>
    </div>
  </div>
</div>
